@import '../../styles/ui-misc';
@import '../../styles/ui-colors';
@import '../../styles/ui-text';

.zoom-toast {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 50;
    bottom: 2rem;
    right: 46%;
    background-color: #eee;
    opacity: 0.8;
    min-width: 200px;

    &-body{
        display: flex;
        justify-content: space-around;   
    }
}

.zoom-button{
    margin: 0.05rem;
    background-color: #eee;

    &-icon{
        height: 80px
    }
}


.vr {
    display: inline-block;
    align-self: stretch;
    width: 2px;
    height: 100%;
    min-height: 1.5em;
    vertical-align: middle;
    background-color: currentColor;
    opacity: .25;
}


.bottom-toast-legend {
    background-color: #eee;
}

.bottom-toast-legend-hidden {
    background-color: #eee;
    color: gray;
}