// Borders
$border-default: 1px solid #9D9D9D;
$navbar-height: 60px;

$borderRadius-default: 8px;
$borderRadius-attribute: 20px;

// Box Shadow
//$boxShadow-default: 0px 2px 3px rgba(0, 0, 0, 0.15);
$boxShadow-default: 2px 5px 4px #888888;

// Spacing
$spacing-ui-xxLarge: 32px;
$spacing-ui-xLarge: 28px;
$spacing-ui-large: 24px;
$spacing-ui-medium: 20px;
$spacing-ui-small: 16px;
$spacing-ui-xSmall: 12px;
$spacing-ui-xxSmall: 8px;
$spacing-ui-xxxSmall: 15px;

$spacing-navbar-width: 275px;