// Brand Colors
$color-brand-1: #1d1765;
$color-brand-2: #371ee1;
$color-brand-3: #3498fc;
$color-brand-4: #0085a1;
$color-brand-5: #9491b6;
$color-brand-6: #352ab8;

// Neutral Colors
$color-neutral-1: #fff;
$color-neutral-2: #eee;
$color-neutral-3: #9d9d9d;
$color-neutral-4: #fa6644;
$color-neutral-5: rgb(82, 82, 82);

// Text Colors
$color-text-1: #0f2a46;
$color-text-2: #afa5f3;
$color-text-3: #2387ee;

// Entity Type Colors
$color-tree: #5e4eca;
$color-horizon: #b83a3a;
$color-injection: #e09f2e;
$color-lever: #0b664cbd;
$color-strategy: #1d68b3;

// Entity Type Colors
$color-tree-search: #7964ff;
$color-horizon-search: #ff4545;
$color-injection-search: #ffd284;
$color-lever-search: #2ad0a1bd;
$color-strategy-search: #89c2fc;

// Search Result Colors
$color-search:  #33ff00;

// Add Child Button Green
$color-green-light:  #33ff00;
$color-green: #13db20;

// Background Colors
$color-background-1: transparent;

// Dashboard Color
$dashboard-color: #F5F7FF;