@import '../../styles/ui-colors';
@import '../../styles/ui-misc';
@import '../../styles/ui-text';

.user-management {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;


    &__header {
        display: flex;
   
    }

    &__title {
        margin-bottom: 0;
        margin-right: auto;
    }

    &__btn {
        background-color: $color-brand-1;
        color: #fff;
        padding: 0.4rem 0.8rem;
        transition: .2s all;
        align-self: flex-end;

    }

    &__table-body {
        border: 2px solid #dee2e6;
        background-color: #fff;
      
    }

    &__table-head {
        border-width: 0;
        border-top: none;
        border-top: 2px solid $dashboard-color;
    }

    &__trash-icon {
        color: #D2042D;
    }

    &__group-buttons {
        text-align: right;
    }
  
  }

.badge {
    display: inline-block;
    padding: .4em .4em;
    font-weight: 700;
    width: 4.5em;
    line-height: 1;

    text-align: center;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}

.badge-staff {
    color: #fff;
    background-color: $color-brand-1;
}

.badge-admin {
    color: #fff;
    background-color: #d9544d;
}

.buttons {
    text-align: right;
}

.new-pass {
    outline: none !important;
  
}