@import '../../styles/ui-colors';
@import '../../styles/ui-misc';
@import '../../styles/ui-text';

.dropdown {
    background-color: #fff;
    border: 1px solid #000;
    height: 95%;
    width: 95%;
    box-shadow: $boxShadow-default;

    &-option {
        width: 100%;
        background-color: #fff;
        padding: $spacing-ui-xxSmall $spacing-ui-medium;
        font-size: $fontSize-button;
        font-weight: 700;
        height: 35px;

        &:hover {
            background-color: $color-brand-3;
            color: $color-neutral-1;
        }

        &--delete {
            &:hover {
                background-color: $color-neutral-4;
            }
        }
    }
}
