@import '../../styles/ui-colors';
@import '../../styles/ui-misc';
@import '../../styles/ui-text';

.company-diagrams {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    &__header {
        margin-bottom: 0;
    }
}