@import "../../styles/ui-colors";
@import "../../styles/ui-misc";
@import "../../styles/ui-text";

.viewing-grid {
    margin-bottom: .5rem;
  
    display: grid;
    
    // Specifying there are 2 equally sized columns in the grid
    grid-template-columns: 1fr 1fr;
  
    grid-template-rows: repeat(7, auto);

    // grid-template-rows: [name-start] auto [name-end description-start] auto [description-end tactic-start] auto 
    // [tactic-end necessity-logic-start] auto [necessity-logic-end detail-start] auto [detail-end sufficiency-optionality-start] auto 
    // [sufficiency-optionality-end];
  
    grid-gap: .7rem .4rem;

    ////////////////////////////////////////////////////////
    // All main grid containers
    &__viewing-item {
        background-color: #fff;
        border-radius: 5px;
        padding: .75rem;
        display: flex;
        flex-direction: column;
        box-shadow: 0 .5rem 1rem rgba(#000, .2);

        &--entity {
            color: #fff;
        }
    }
    ////////////////////////////////////////////////////////
  
    ////////////////////////////////////////////////////////
    // Individual grid containers
    &__name {
        grid-column: 1 / -1;
        align-items: center;
    }
  
    &__description {
        grid-column: 1 / -1;
        align-items: center;
    }
  
    &__tactic {
        grid-column: 1 / -1;
        align-items: center;
    }
  
    &__necessity {
    }
  
    &__logic {
    }
  
    &__detail {
        grid-column: 1 / -1;

        & > * {
            &:not(:last-child){
                margin-bottom: 1rem;
            }
        }
    }
  
    &__sufficiency {
    }
  
    &__optionality {
    }
    ////////////////////////////////////////////////////////


    ////////////////////////////////////////////////////////
    // Label of each grid container; e.g. Necessity, Logic, Suffiency
    &__label {
        font-size: 1.05rem;
        font-weight: 700;

        // Example of changing Necessity label
        &--necessity {
        }
    }
    ////////////////////////////////////////////////////////


    ////////////////////////////////////////////////////////
    // Actual data for each label
    &__data {
        font-size: .9rem;
    }
    ////////////////////////////////////////////////////////


  }