
@import '../../styles/ui-misc';

.treeList {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex: 1 1 auto;
}
